<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>Controller.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerHome</servlet-name>
        <servlet-class>Controller.ControllerHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controllerschedule</servlet-name>
        <servlet-class>Controller.Controllerschedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BangDiemservlet</servlet-name>
        <servlet-class>Controller.BangDiemservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HocSinhservlet</servlet-name>
        <servlet-class>Controller.HocSinhservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lopservlet</servlet-name>
        <servlet-class>Controller.Lopservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Monservlet</servlet-name>
        <servlet-class>Controller.Monservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TKBservlet</servlet-name>
        <servlet-class>Controller.TKBservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerHome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controllerschedule</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BangDiemservlet</servlet-name>
        <url-pattern>/BangDiemservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HocSinhservlet</servlet-name>
        <url-pattern>/HocSinhservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lopservlet</servlet-name>
        <url-pattern>/Lopservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Monservlet</servlet-name>
        <url-pattern>/Monservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TKBservlet</servlet-name>
        <url-pattern>/TKBservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
