/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2022, 12:50:35 AM
    Author     : win
*/
.subject  {
    text-decoration: none;
}

.student_avatar {
    width: 146px;
    height: 111px;
}
.save {
    margin: 10px 700px 20px;
    
}
.control{
    margin-left: 100px;
    margin-bottom: 30px;
} 
.control a{
    margin-left: 5px;
   background-color: rgb(204, 190, 172);
}
.control :nth-child(4){
    margin-left: 50%;
}
